*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Остальной код */

:root {
  --accent-color: #2196f3;
  --accent-secondary-color: #188ce8;
  --logo-color: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --link-bg-color: #afb1b8;
  --hero-bg-color: #c4c4c4;
  --footer-bg-color: #2f303a;
  --footer-text-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --cardset-gap: 30px;
  --card-team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p,
b {
  margin: 0;
}

input {
  padding: 0;
}

.page-header {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* nav  */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: var(--accent-color);
}

/* site-nav-list */

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav-list .item + .item {
  margin-left: 50px;
}

.site-nav-list .link,
.site-nav-list .link-current {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
}

.site-nav-list .link-current {
  color: var(--accent-color);
  position: relative;
}

.link-current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* contacts-list */

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.contacts-list .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/* ОФРМЛЕНИЕ ДЛЯ index.html */

/* hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.btn-primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;

  color: var(--primary-bg-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* feature */

.section.feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

/* .feature-list .item::before {
  display: inline-block;
  content: '';
  width: 270px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  outline: 2px solid coral;
}

.feature-list .item:nth-child(1)::before {
  background-image: url(../images/Rectangle1.svg);
} */

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;

  background: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature-list .title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* work */

.section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list {
  display: flex;
}

.work-list .item {
  position: relative;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
}

/* Team  */

.section.team {
  background: var(--secondary-bg-color);
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background: var(--primary-bg-color);
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

/* Link team  */

.link-list {
  display: flex;
  align-items: center;
  padding: 0px 32px 30px 32px;
}

.link-item + .link-item {
  margin-left: 10px;
}

.link-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  color: var(--link-bg-color);
  background: var(--primary-bg-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon .icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);
}

/* Client */

.client-list {
  display: flex;
}

.client-list .item + .item {
  margin-left: 30px;
}

.logo-link {
  display: flex;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--link-bg-color);
  border-radius: 4px;
  color: var(--link-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link .icon {
  fill: currentColor;
}

.logo-link:hover,
.logo-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer  */

/* Address  */

.page-footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.container.footer {
  display: flex;
}

.page-footer .logo {
  padding: 0%;
}

.logo .letter {
  color: var(--footer-text-color);
}

.residence {
  color: var(--footer-text-color);
  font-style: normal;
  margin-top: 20px;
}

.contacts-list-bottom .item {
  display: block;
  margin-top: 9px;
}

.contacts-list-bottom .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-bottom .link:hover,
.contacts-list-bottom .link:focus {
  color: var(--accent-color);
}

/* Social  */

.footer-social {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list .item + .item {
  margin-left: 10px;
}

.social-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  background: var(--accent-color);
}

/* Subscription */

.subscription {
  margin-left: 93px;
  padding-top: 12px;
  max-width: 570px;
}

.subscription .text {
  color: var(--footer-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscription-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.subscription-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  outline: none;

  color: var(--footer-text-color);
  background: #2f303a;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}

.subscription-input:focus {
  border: 1px solid var(--accent-color);
}

.subscription-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscription {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--footer-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.btn-subscription .icon {
  margin-left: 10px;
}

/* Backdrop  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000000;
  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: currentColor;
}

.btn-close:hover,
.btn-close:focus {
  color: var(--accent-color);
}

/* Fofm  */

.form-title {
  margin-bottom: 30px;
  text-align: center;

  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.15;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-text {
  position: absolute;
  top: -4px;
  left: 0;
  transform: translateY(-100%);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--secondary-text-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  color: var(--accent-color);
}

.form-input:hover,
.form-input:focus,
.form-comment:hover,
.form-comment:focus {
  border: 1px solid var(--accent-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  margin-bottom: 30px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.icon-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid#212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url(../images/icon-check1.svg);

  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .icon-checkbox {
  border: 2px solid var(--accent-color);
}

.form-link {
  color: var(--accent-color);
}

.btn-modal {
  display: block;
  max-width: 200px;
  height: 50px;
  padding: 10px 56px;
  margin: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--primary-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: var(--accent-secondary-color);
}

/* ОФРМЛЕНИЕ ДЛЯ portfolio */

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .item + .item {
  margin-left: 8px;
}

.btn-list .btn-secondary {
  padding: 6px 22px;
  display: inline-block;
  border-radius: 4px;
  border: transparent;
  min-width: 73px;

  color: var(--secondary-text-color);
  background: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list .btn-secondary:hover,
.btn-list .btn-secondary:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfplio List  */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  text-decoration: none;
}

.portfolio-list .item {
  /* width: calc((100% - 2 * 30px) / 3); */
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .item:hover .description,
.portfolio-list .item:focus .description {
  transform: translatey(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-portfolio {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  color: var(--primary-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-name {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
}

.portfolio-list .title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
