body {
  background: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: #2196f3;
}

.logo .letter {
  color: #ffffff;
}

/* site-nav-list */

.site-nav-list .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: #2196f3;
}

.site-nav-list .current {
  color: #2196f3;
}

.contacts-list .link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #2196f3;
}

/* hero */

.hero-title {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.btn-primary {
  color: #ffffff;
  background: #2196f3;
}

/* section */

.section-title {
  color: #212121;
}

/* feature */

.feature-list .title {
  color: #212121;
}

/* work */
