*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Остальной код */

body {
  background: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin-left: 215px;
  margin-right: 215px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid coral;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 10px;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: #2196f3;
}

/* site-nav-list */

.site-nav-list .link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: #2196f3;
}

.site-nav-list .current {
  color: #2196f3;
}

.contacts-list .link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: #2196f3;
}

/* ОФРМЛЕНИЕ ДЛЯ index.html */

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* button */

.btn-primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;

  color: #ffffff;
  background: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}

/* feature */

.feature-list .title {
  color: #212121;
  line-height: 1.14;
  text-transform: uppercase;
}

/* section */

.section-feature,
.section,
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-feature {
  padding-bottom: 0;
}

.section-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* work */

/* Team  */

.section-team {
  background: #f5f4fa;
}

.team-list .title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer  */

footer {
  background: #2f303a;
}

.logo .letter {
  color: #ffffff;
}

address {
  color: #ffffff;
  font-style: normal;
}

.contacts-list .link-bottom {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts-list .link-bottom:hover,
.contacts-list .link-bottom:focus {
  color: #2196f3;
}

/* ОФРМЛЕНИЕ ДЛЯ portfolio.html */

.btn-list .btn-secondary {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: transparent;
  min-width: 73px;

  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  text-align: center;
  cursor: pointer;
}

.btn-list .btn-secondary:hover,
.btn-list .btn-secondary:focus {
  background: #2196f3;
  color: #ffffff;
}

.portfolio-list .title {
  margin-top: 20px;
  margin-bottom: 4px;

  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.88;
}
